#main
  #tagContainer
    #tagAreaParent.tagArea
      %form
        %select{:size => 5}
          - @tags.each do |tag|
            %option{:onclick => "vivafive.getChildren(#{tag.id},#{current_user.id});"}= tag.name
    #tagAreaChild0.tagArea
    #tagAreaChild1.tagArea
    #tagAreaChild2.tagArea
    #tagAreaChild3.tagArea
    #tagAreaChild4.tagArea
    .clear
  = form_for @job do
    #titleArea
    #professionalQuestionArea
    #clientQuestionArea

