#main
  %p#notice= notice
  
  %br
  %table
    %tr
      %td.label Title
      %td= @job.tag.title.description
    %tr
      %td.label Professional
      %td= @job.professional.name
    %tr
      %td.label Client Questions
      %td
        - @job.client_questions.each do |client_question|
          %p= client_question.title