#main
  %p#notice= notice

  %br
  %table
    %tr
      %td.label Title
      %td= @order.job.tag.title.description
    %tr
      %td.label Professional
      %td= @order.job.professional.name
    %tr
      %td.label Client
      %td= @order.client.name
