-if current_user
  #header
    #logoArea.left
      Vivafive
    .clear
    .left
      = link_to 'FindJob', jobs_path
      = link_to 'PostJob', new_job_path
    .right
      = current_user.name
      = link_to 'Logout', 'sessions/destroy', :method => 'delete'
    .clear